@use "../../abstracts/mixins" as *;

.change-pass-ok {
  @include flex-column-center;
  width: 30%;
  height: 30vh;
  margin: auto;
  margin-top: 6rem;
  justify-content: space-between;
  > h1,
  p {
    text-align: center;
  }
  > img {
    width: 20%;
    min-width: 75px;
  }
}
