@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;

.change-password-container {
  margin: 4rem 12rem;
  h1 {
    font-size: xx-large;
  }
  div {
    display: flex;
    justify-content: space-between;
    .change-password {
      @include flex-row-center;
      p {
        font-weight: bold;
        margin-left: 0.4rem;
        font-size: small;
      }
      height: fit-content;
    }
    .change-password-form {
      width: 60%;
      border: solid $neutral-200 1px;
      border-radius: 4px;
      padding: 2rem;
      form {
        width: 100%;
        .input {
          @include login-input;
          input {
            text-indent: 12px;
          }
        }
        .form-btns {
          margin-top: 1rem;
          justify-content: flex-end;
          button {
            font-size: small;
            height: 2rem;
          }
        }
      }
    }
  }
}
