@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;
@use "./userProfile";
@use "../../components/common/table";
@use "../../components/UI/modal";

.account {
  @include flex-column-center;
  h1 {
    font-size: xx-large;
  }
  margin: 0 6rem;
  .user-general-info {
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    .user-list {
      width: fit-content;
      .user-list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          height: 2.5rem;
          font-size: small;
        }
      }
    }
  }
  .profile-btns {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    button {
      height: 2.4rem;
    }
    .secondary-btn {
      margin-left: 2rem;
      margin-right: 30rem;
    }
  }
  .my-trainings {
    @include flex-column-center;
    width: 70%;
    h1 {
      font-size: xx-large;
    }
    p {
      text-align: center;
      font-size: small;
      margin-bottom: 3rem;
    }
    button {
      font-size: small;
      height: 2.4rem;
      margin-bottom: 6rem;
    }
    .datepicker {
      // max-height: 6rem;
      background-color: aquamarine;
    }
  }
}
