@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;
@use "../../components/common/teamBox";

.about-us {
  @include flex-column-center;
  margin: auto;
  padding: 2rem 6rem;
  width: min-content;
  h1 {
    font-size: xx-large;
  }
  > p {
    width: 60%;
    text-align: center;
    margin-bottom: 2rem;
  }
  img {
    margin-bottom: 2rem;
  }
  .our-team {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
    > div {
      width: 25%;
      @include flex-column;
      justify-content: center;
      > h3 {
        font-size: xx-large;
      }
      > p {
        color: $neutral-500;
        margin-top: 0;
      }
    }
  }
}
