@use "../../abstracts/mixins" as *;

.home {
  @include flex-column-center;
  .home-hero {
    @include flex-column-center;
    margin: 5% 20%;
    h1 {
      margin: 0;
      margin-top: 1rem;
      font-size: xx-large;
    }
    p {
      margin: 1rem 0;
      width: 80%;
      text-align: center;
    }
    img {
      margin: 0;
      margin-top: 1rem;
      width: 100%;
    }
  }
  .home-join {
    background-image: url("../../../assets/images/home-join-bg.png");
    background-size: cover;
    background-position: center;
    margin: 5% 10%;
    width: 80%;
    @include flex-column-center;
    justify-content: center;

    h2 {
      margin: 0;
      margin-top: 1rem;
    }
    p {
      width: 50%;
      margin: 0;
      margin-top: 1rem;
      text-align: center;
    }
    button {
      margin: 1rem 0;
    }
  }
}
