@use "../../abstracts/mixins" as *;

.sign-in {
  @include flex-column-center;
  //   margin-top: 10rem;
  //   margin-bottom: 20rem;
  width: 20%;
  margin: auto;
  p {
    font-size: small;
    margin-bottom: 1.4rem;
  }

  h3 {
    font-size: x-small;
    margin-bottom: 1rem;
  }
  form {
    @include login-input;
    .input {
      width: 100%;
      input {
        text-indent: 2rem;
        background-size: 16px;
        background-position: 10px center;
        background-repeat: no-repeat;
        margin-bottom: 1rem;
      }
    }
  }
}
