$pink: rgb(225, 109, 222);
$yellow: rgb(236, 184, 42);
$neutral-100: #fafafbff;
$neutral-150: #f8f9faff;
$neutral-200: #f3f4f6ff;
$neutral-300: #dee1e6ff;
$neutral-400: #bcc1caff;
$neutral-500: #9095a0ff;
$neutral-600: #565e6cff;
$neutral-700: #323842ff;
$neutral-900: #171a1fff;
$primary-500: #6355d8ff;
$secondary-500: #e16ddeff;
$tertiary-500: #60cfa5ff;
$tertiary-600: #36b584ff;
$important-500: #ed5d56ff;
