@use "components/layout/header";
@use "components/layout/footer";
@use "pages/private/addPassedTraining";
@use "pages/private/addTrainer";
@use "pages/private/changePassword";
@use "pages/private/changePasswordOk";
@use "pages/private/editAccount";
@use "pages/private/home";
@use "pages/private/myAccount";
@use "pages/private/registerVal";
@use "pages/private/trainings";
@use "pages/public/aboutUs";
@use "pages/public/blog";
@use "pages/public/homePublic";
@use "pages/public/joinUs";
@use "pages/public/login";
@use "pages/public/pricing";
@use "pages/public/register";

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  min-height: 100vh;
  position: relative;
  .main-container {
    flex: 1;
  }
  p {
    font-family: "Poppins";
  }
}
